*{
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background-color: rgb(0, 74, 173);
}

@font-face {
  font-family: 'Superfly';
  src: local('Superfly'), url(../fonts/Superfly.ttf) format('truetype');
}

.grid-container {
  background-color: white;
  border: solid 2px black;
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  height: 68vh;
  margin-left: 3%;
  margin-top: 3%;
  padding: 3px;
  width: 45vw;
}

.grid-container > div {
  border: solid 2px black;
  display: flex;
  text-align: center;
}

.grid-1 {
  align-items: center;
  background-color: black;
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: space-between;
  padding: 0 1vw;
}

.has-trunfo-label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
}

.has-trunfo {
  align-items: center;
  background-color: aliceblue;
  border-radius: 50%;
  color: black;
  display: flex;
  font-size: medium;
  height: 45px;
  justify-content: center;
  width: 45px;
}

.remaining-points {
  padding-right: 4vw;
}
.balloon-points {
  left: 42vw;
  position: absolute;
  top: 1.5vh;
  width: 12vw;
  z-index: 1;
}
.points {
  color: black;
  left: 46.2vw;
  position: absolute;
  text-shadow: black 1px 1px 2px;
  top: 7.5vh;
  z-index: 2;
}

.grid-2 {
  align-items: center;
  grid-column-end:3;
  grid-column-start: 1;
}

.card-name-label {
  padding-left: 1vw;
}

#card-name-input {
  border: solid black;
  border-width: 0 0 1px 0;
  font-weight: bold;
}

#card-name-input:focus {
  box-shadow: none;
  outline: 0;
}

.grid-3 {
  align-items: center;
  grid-column-end:4;
  grid-column-start: 3;
  justify-content: center;
}

.grid-4 {
  grid-column-end:4;
  grid-column-start: 1;
  justify-content: space-around;
}

.atributes-label {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 1vw;
}

.input-attribute {
  border: solid black;
  border-width: 0 0 1px 0;
  font-weight: bold;
  width: 9vw;
}

.input-attribute:focus {
  box-shadow: none;
  outline: 0;
}

.grid-6 {
  align-items: left;
  display: flex;
  flex-direction: column;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-end: 6;
  grid-row-start: 4;
  /* autoprefixer: off */
  padding-left: 1vw;
}

.description-title {
  text-align: left;
}

#card-description-input {
  height: 100%;
  margin-bottom: .5vh;
  max-width: 94%;
  resize: none;
}
.grid-5 {
  grid-column-end: 4;
  grid-column-start: 3;
  grid-row-end: 6;
  grid-row-start: 4;
  /* autoprefixer: off */
}

#add-card {
  background-color: black;
  border: solid 1px white;
  border-radius: none;
  color: white;
  bottom: 21vh;
  font-weight: bold;
  font-size: medium;
  height: 30px;
  left: 19vw;
  position: absolute;
  width: 200px;
}
